body{    
    text-align:center;
}

#funBtn{
    padding:15px 20px;
}

#content{
    margin: 0px auto;
    width: 800px;
    height: 250px;
}

table, th, td {
    margin: 0px auto;  
    border: 1px solid black;
  }